{% extends 'main/base.html' %}
{% block content %}
<div class="card">
    <h2>About Me</h2>
    <ul>
        <li><strong>Name:</strong> Adarsh Srinivasan</li>
        <li><strong>DOB:</strong> 13.10.2005</li>
        <li><strong>College:</strong> PSG College of Technology</li>
        <li><strong>Course:</strong> MSc Data Science (2023–2028)</li>
        <li><strong>10th Std:</strong> 88.6% <i>[GRD PUBLIC SCHOOL , CBE]</i></li>
        <li><strong>12th Std:</strong> 82.2% <i>[GRD PUBLIC SCHOOL , CBE]</i></li>
        <li><strong>Nationality:</strong> Indian</li>
    </ul>
</div>
{% endblock %}
